<div class="row my-5 justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
          <h3><%=title%></h3>
      </div>
      <div class="card-body">
        <form name="frm">
            <input class="form-control mb-3" name="email" value="blue@test.com">
            <input class="form-control mb-3" type="password" name="pass" value="12341234">
            <button class="btn btn-primary w-100">로그인</button>
        </form>
        <div class="text-end mt-3">
          <a href="/users/join">회원가입</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  // /는 public을 의미
  // 라이브러리를 import 하려면 script type을 "module"로 해야함.
    import {app} from '/javascripts/config.js';

        // 인증 라이브러리 사용
    import {getAuth, signInWithEmailAndPassword} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-auth.js";
    const auth = getAuth(app);  

    //로그인 버튼을 클릭한 경우
    $(frm).on("submit",function(e){
      e.preventDefault(); //submit 되는 걸 막아줌.
      const email=$(frm.email).val();
      const pass=$(frm.pass).val();
      signInWithEmailAndPassword(auth, email, pass)
      .then(success=>{ //then 은 성공하면 >> success 객체가 옴.
        alert("로그인 성공 !")
        sessionStorage.setItem("email", email);
        sessionStorage.setItem("uid", success.user.uid) // user.uid는 파이어 베이스에서 기본적으로 사용할 수 있음.
        if(sessionStorage.getItem("target")){
          location.href=sessionStorage.getItem("target");
        } 
        else{
          location.href="/"; //로그인 완료 후  locatio.href 를 통해서 root 페이지로 이동 // 홈페이지 이동
        }
      }).catch(error=>{
        alert("로그인 실패 !" + error.message);
      })
    });
    </script>